@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout {
        @apply w-screen h-screen pt-12;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}